@font-face {
  font-family: PopularCafe;
  src: url(PopularCafeNF.ttf);
}
@font-face {
  font-family: Negaroa;
  src: url(Negaroa-Regular.ttf);
}
@font-face {
  font-family: Dongpora;
  src: url(dongpora.ttf);
}
@font-face {
  font-family: Costarica;
  src: url(CostaRica.otf);
}
